*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1150px;
}
.df_spaceA{
    display: flex;
    justify-content: space-around;
}
.df_spaceE{
    display: flex;
    justify-content: space-evenly;
}
.df_spaceB{
    display: flex;
    justify-content: space-between;
}